{% extends 'base.html.twig' %}

{% block title %}Cookies & Confidentialitées{% endblock %}

{% block body %}
<section class="flex flex-col items-center justify-center py-8 text-white" style="background-color: #0060A7;">
    <h1 class="text-2xl font-bold mb-4">Politique d'utilisation des cookies</h1>

    <h2 class="text-xl font-bold mb-2">Bienvenue sur [Nom du site]</h2>
    <p class="text-center mb-4">Votre plateforme dédiée à l'achat et à la vente de véhicules automobiles. Pour vous offrir une expérience personnalisée et optimisée sur notre site, nous utilisons des cookies et des technologies similaires. En naviguant sur [Nom du site], vous consentez à l'utilisation de ces cookies conformément à cette politique.</p>

    <h2 class="text-xl font-bold mb-2">Que sont les cookies ?</h2>
    <p class="text-center mb-4">Les cookies sont de petits fichiers texte placés sur votre appareil lorsque vous visitez un site web. Ils sont largement utilisés pour garantir le bon fonctionnement des sites web modernes, en permettant par exemple de se souvenir de vos préférences et de personnaliser votre expérience.</p>

    <h2 class="text-xl font-bold mb-2">Comment utilisons-nous les cookies ?</h2>
    <p class="text-center mb-4">Cookies essentiels : Ces cookies sont nécessaires au fonctionnement de base de notre site web. Ils vous permettent de naviguer sur le site et d'utiliser ses fonctionnalités essentielles, telles que l'accès aux zones sécurisées.</p>

    <p class="text-center mb-4">Cookies de performance : Nous utilisons des cookies de performance pour collecter des informations sur la manière dont vous utilisez notre site web. Cela nous aide à améliorer la façon dont fonctionne notre site et à comprendre quelles sections du site sont les plus populaires.</p>

    <p class="text-center mb-4">Cookies de fonctionnalité : Ces cookies permettent au site de se souvenir des choix que vous faites (comme votre nom d'utilisateur, la langue ou la région où vous vous trouvez) et fournissent des fonctionnalités améliorées et plus personnelles.</p>

    <p class="text-center mb-4">Cookies publicitaires : Nous et nos partenaires publicitaires utilisons des cookies pour vous montrer des publicités pertinentes en fonction de vos intérêts. Ces cookies peuvent suivre vos visites sur notre site et d'autres sites pour fournir des annonces ciblées.</p>

    <h2 class="text-xl font-bold mb-2">Gestion des cookies</h2>
    <p class="text-center mb-4">Vous avez le contrôle sur les cookies que vous acceptez et pouvez modifier vos préférences à tout moment en accédant aux paramètres de votre navigateur. Veuillez noter que désactiver certains cookies peut limiter votre utilisation de certaines fonctionnalités de notre site web.</p>

    <p class="text-center mb-4">En continuant à utiliser notre site, vous consentez à notre utilisation des cookies comme décrit dans cette politique. Pour toute question ou préoccupation concernant notre utilisation des cookies, n'hésitez pas à nous contacter à [adresse e-mail de contact].</p>
</section>




{% endblock %}