{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<section class="flex justify-center text-white" style="background-color: #0060A7;">
    <div class="max-w-2xl p-4 m-4">
        <h1 class="text-2xl text-center font-bold mb-4">Politique de Confidentialité pour l'Achat et la Vente de Véhicules Automobiles</h1>

        <h2 class="text-lg mb-4">Chez AutoCars, nous accordons une grande importance à la protection de vos données personnelles. Cette politique de confidentialité a pour objectif de vous informer sur la manière dont nous collectons, utilisons, stockons et protégeons vos informations lorsque vous utilisez nos services d'achat et de vente de véhicules automobiles. En utilisant nos services, vous acceptez les pratiques décrites dans cette politique de confidentialité.</h2>

        <p class="mb-4">1. Collecte des Informations Personnelles</p>

        <p class="mb-4">Nous collectons des informations personnelles lorsque vous :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>Remplissez un formulaire sur notre site web ou dans nos locaux.</li>
            <li>Effectuez une transaction d'achat ou de vente de véhicule.</li>
            <li>Communiquez avec notre service client.</li>
        </ul>

        <p class="mb-4">Les informations collectées peuvent inclure, mais ne sont pas limitées à :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>Nom et prénom</li>
            <li>Adresse postale</li>
            <li>Adresse e-mail</li>
            <li>Numéro de téléphone</li>
            <li>Informations financières</li>
            <li>Informations automobiles</li>
        </ul>

        <p class="mb-4">2. Utilisation des Informations Personnelles</p>

        <p class="mb-4">Les informations personnelles collectées sont utilisées pour :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>Faciliter les transactions d'achat et de vente de véhicules.</li>
            <li>Vous fournir des services et un support client efficaces.</li>
            <li>Communiquer avec vous concernant vos transactions et nos services.</li>
            <li>Améliorer nos services et personnaliser votre expérience.</li>
            <li>Respecter les obligations légales et réglementaires.</li>
        </ul>

        <p class="mb-4">3. Partage des Informations Personnelles</p>

        <p class="mb-4">Nous nous engageons à ne pas vendre, échanger ou louer vos informations personnelles à des tiers sans votre consentement, sauf dans les cas suivants :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>Avec des partenaires de confiance qui nous aident à exploiter notre site web et nos services, tant que ces partenaires acceptent de garder ces informations confidentielles.</li>
            <li>Pour se conformer à une obligation légale ou à une demande gouvernementale.</li>
            <li>Pour protéger nos droits, notre propriété ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public.</li>
        </ul>

        <p class="mb-4">4. Sécurité des Informations</p>

        <p class="mb-4">Nous mettons en œuvre diverses mesures de sécurité pour protéger vos informations personnelles contre l'accès non autorisé, la divulgation, l'altération ou la destruction. Ces mesures comprennent :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>L'utilisation de technologies de cryptage pour les transactions en ligne.</li>
            <li>La restriction de l'accès aux informations personnelles aux seuls employés et partenaires qui en ont besoin pour fournir nos services.</li>
        </ul>

        <p class="mb-4">5. Conservation des Données</p>

        <p class="mb-4">Nous conservons vos informations personnelles aussi longtemps que nécessaire pour réaliser les objectifs décrits dans cette politique de confidentialité, sauf si une période de conservation plus longue est requise ou permise par la loi.</p>

        <p class="mb-4">6. Vos Droits</p>

        <p class="mb-4">Conformément aux lois en vigueur, vous disposez des droits suivants concernant vos informations personnelles :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>Accès : Vous pouvez demander l'accès à vos informations personnelles.</li>
            <li>Rectification : Vous pouvez demander la correction de vos informations personnelles inexactes ou incomplètes.</li>
            <li>Suppression : Vous pouvez demander la suppression de vos informations personnelles, sous réserve des obligations légales de conservation.</li>
            <li>Opposition : Vous pouvez vous opposer au traitement de vos informations personnelles dans certains cas.</li>
            <li>Portabilité : Vous pouvez demander à recevoir vos informations personnelles dans un format structuré, couramment utilisé et lisible par machine.</li>
        </ul>

        <p class="mb-4">7. Modifications de la Politique de Confidentialité</p>

        <p class="mb-4">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur notre site web avec la date de mise à jour. Nous vous encourageons à consulter régulièrement cette page pour rester informé de la manière dont nous protégeons vos informations.</p>

        <p class="mb-4">8. Contactez-nous</p>

        <p class="mb-4">Si vous avez des questions concernant cette politique de confidentialité ou si vous souhaitez exercer vos droits, veuillez nous contacter à :</p>

        <ul class="list-disc ml-8 mb-4">
            <li>AutoCars</li>
            <li>8 rue tarentaize, 42100 Saint-Etienne</li>
            <li>test@test.fr</li>
            <li>0102030405</li>
        </ul>

        <p class="mb-4">En utilisant nos services, vous acceptez les termes de cette politique de confidentialité. Nous vous remercions de votre confiance et de votre collaboration.</p>
    </div>
</section>

{% endblock %}
