{% extends 'base.html.twig' %}

{% block title %}Message index
{% endblock %}

{% block body %}
	<h1>Message index</h1>

	<div class="container mx-auto p-4">
		<div class="flex flex-col lg:flex-row">
			<div class="w-full lg:w-1/4 bg-white p-4 border rounded-lg shadow-lg">
				<div class="mb-4">
					<div class="flex items-center border rounded-lg overflow-hidden">
						<span class="flex items-center justify-center px-3 border-r">
							<i class="fas fa-search text-gray-600"></i>
						</span>
						<input type="text" class="w-full py-2 px-4 text-gray-700 focus:outline-none" placeholder="Search...">
					</div>
				</div>
				<ul class="space-y-4">
					<li class="flex items-center space-x-4">
						{% for user in users %}
							<div>
								<div class="font-bold">

									{{ user.username }}
                               
								</div>
								<div class="text-sm text-gray-600">
									<i class="fas fa-circle text-red-500"></i>
									left 7 mins ago</div>
							</div>
						</li>
					</li>
				</ul>
			</div>
			<div class="w-full lg:w-3/4 bg-white p-4 border rounded-lg shadow-lg mt-4 lg:mt-0 lg:ml-4 flex flex-col">
				<div class="flex items-center justify-between mb-4">
					<div class="flex items-center">
						<div class="ml-4">


							<div class="flex-1 overflow-y-auto">
								<ul class="space-y-4">
									<li class="flex justify-end">
										<div class="max-w-xs">
											<div class="text-right text-xs text-gray-500">1</div>
											<div class="mt-1 bg-blue-100 text-gray-800 p-2 rounded-lg inline-block">
												{% for message in messages %}
                                                    Message: {{ message.content }}
            
												{% endfor %}
											</div>
										</div>
									</li>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
