{% extends 'base.html.twig' %}

{% block title %}Cars index
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">

{% endblock %}
{% block body %}


	    <section class="flex justify-center my-10 items-center">
        <div class="container mx-auto p-4">
            <div class="flex flex-col justify-center items-center lg:flex-row">
                <div class="w-full lg:w-3/4 bg-white p-4 border rounded-lg shadow-lg mt-4 lg:mt-0 flex flex-col">
                    <div class="flex items-center justify-between mb-4">
                        <div class="flex items-center">
                            <a class="block">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar" class="w-10 h-10 rounded-full">
                            </a>
                            <div class="ml-4">
                                <h6 class="font-bold m-0">Aiden Chavez</h6>
                                <small class="text-gray-600">Last seen: 2 hours ago</small>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 overflow-y-auto">
                        <ul class="space-y-4">
                            <li class="flex justify-end">
                                <div class="max-w-xs">
                                    <div class="text-right text-xs text-gray-500">10:10 AM, Today</div>
                                    <div class="mt-1 bg-blue-100 text-gray-800 p-2 rounded-lg inline-block">
                                        Hi Aiden, how are you? How is the project coming along?
                                    </div>
                                </div>
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar" class="w-6 h-6 rounded-full ml-2">
                            </li>
                            <li class="flex">
                                <div class="max-w-xs">
                                    <div class="text-xs text-gray-500">10:12 AM, Today</div>
                                    <div class="mt-1 bg-gray-100 text-gray-800 p-2 rounded-lg inline-block">
                                        Are we meeting today?
                                    </div>
                                </div>
                            </li>
                            <li class="flex">
                                <div class="max-w-xs">
                                    <div class="text-xs text-gray-500">10:15 AM, Today</div>
                                    <div class="mt-1 bg-gray-100 text-gray-800 p-2 rounded-lg inline-block">
                                        Project has been already finished and I have results to show you.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <div class="flex items-center border rounded-lg overflow-hidden">
                            <span class="flex items-center justify-center px-3 border-r">
                                <i class="fas fa-paper-plane text-gray-600"></i>
                            </span>
                            <input type="text" class="w-full py-2 px-4 text-gray-700 focus:outline-none" placeholder="Enter text here...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}{% endblock %}
